USE [master]
GO
/****** Object:  Database [BBA_Camping]    Script Date: 27/11/2025 0:11:01 ******/
CREATE DATABASE [BBA_Camping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BBA_Camping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BBA_Camping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BBA_Camping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BBA_Camping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BBA_Camping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BBA_Camping]
GO
/****** Object:  User [Xoel]    Script Date: 27/11/2025 0:11:01 ******/
CREATE USER [Xoel] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [@user_name]    Script Date: 27/11/2025 0:11:01 ******/
CREATE USER [@user_name] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [R_Oficina]    Script Date: 27/11/2025 0:11:01 ******/
CREATE ROLE [R_Oficina]
GO
/****** Object:  DatabaseRole [R_Empleado]    Script Date: 27/11/2025 0:11:01 ******/
CREATE ROLE [R_Empleado]
GO
/****** Object:  DatabaseRole [R_Dirección]    Script Date: 27/11/2025 0:11:01 ******/
CREATE ROLE [R_Dirección]
GO
/****** Object:  DatabaseRole [R_Contabilidad]    Script Date: 27/11/2025 0:11:01 ******/
CREATE ROLE [R_Contabilidad]
GO
/****** Object:  DatabaseRole [Consultasclientes]    Script Date: 27/11/2025 0:11:01 ******/
CREATE ROLE [Consultasclientes]
GO
ALTER ROLE [Consultasclientes] ADD MEMBER [Xoel]
GO
ALTER ROLE [R_Empleado] ADD MEMBER [@user_name]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_cliente] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[dni] [varchar](15) NOT NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[dirección] [varchar](100) NULL,
	[ciudad] [varchar](50) NULL,
	[fecha_registro] [date] NULL,
 CONSTRAINT [Cliente_PK] PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Infoclientes]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Infoclientes]
AS SELECT   
Id_cliente,nombre,apellidos,email
FROM dbo.Cliente
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[Id_actividad] [varchar](20) NOT NULL,
	[nombre] [varchar](30) NULL,
	[fecha_hora] [date] NULL,
	[descripción] [varchar](200) NULL,
	[max_participantes] [int] NULL,
 CONSTRAINT [Actividad_PK] PRIMARY KEY CLUSTERED 
(
	[Id_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alojamiento]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alojamiento](
	[Id_alojamiento] [varchar](20) NOT NULL,
	[tipo] [varchar](30) NULL,
	[capacidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[estado] [varchar](20) NULL,
	[Alojamiento_Id_alojamiento] [varchar](20) NOT NULL,
	[Bungalow_id_cabaña] [varchar](10) NOT NULL,
	[Parcela_Id_parcela] [varchar](10) NOT NULL,
 CONSTRAINT [Alojamiento_PK] PRIMARY KEY CLUSTERED 
(
	[Id_alojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bungalow]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bungalow](
	[Id_alojamiento] [varchar](1) NOT NULL,
	[id_cabaña] [varchar](10) NOT NULL,
	[num_habitaciones] [int] NULL,
	[aire_acondicionado] [varchar](5) NULL,
	[baño_privado] [varchar](10) NULL,
	[cocina] [varchar](10) NULL,
	[Id_alojamiento1] [varchar](20) NOT NULL,
 CONSTRAINT [Bungalow_PKv2] PRIMARY KEY CLUSTERED 
(
	[Id_alojamiento1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Bungalow_PK] UNIQUE NONCLUSTERED 
(
	[Id_alojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Bungalow_PKv1] UNIQUE NONCLUSTERED 
(
	[id_cabaña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id_compra] [varchar](20) NOT NULL,
	[fecha_compra] [date] NULL,
	[total] [decimal](10, 2) NULL,
	[descripcion] [varchar](200) NULL,
	[empleado_id_empleado] [varchar](15) NOT NULL,
	[Proveedor_id_proveedor] [varchar](20) NOT NULL,
 CONSTRAINT [Compra_PK] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coordina]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coordina](
	[Actividad_Id_actividad] [varchar](20) NOT NULL,
	[empleado_id_empleado] [varchar](15) NOT NULL,
 CONSTRAINT [Relation_13_PK] PRIMARY KEY CLUSTERED 
(
	[Actividad_Id_actividad] ASC,
	[empleado_id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[id_empleado] [varchar](15) NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellidos] [varchar](20) NULL,
	[puesto] [varchar](50) NULL,
	[telefono] [varchar](15) NULL,
 CONSTRAINT [empleado_PK] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id_factura] [varchar](20) NOT NULL,
	[fecha_emision] [datetime] NULL,
	[importe] [decimal](10, 2) NULL,
	[estado_pago] [varchar](20) NULL,
	[Cliente_Id_cliente] [varchar](20) NOT NULL,
 CONSTRAINT [Facturas_PK] PRIMARY KEY CLUSTERED 
(
	[Id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimiento]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[Id_mantenimiento] [varchar](20) NOT NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](200) NULL,
	[empleado_id_empleado] [varchar](15) NOT NULL,
	[Alojamiento_Id_alojamiento] [varchar](20) NOT NULL,
 CONSTRAINT [Mantenimiento_PK] PRIMARY KEY CLUSTERED 
(
	[Id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[Id_parcela] [varchar](10) NOT NULL,
	[numero] [int] NULL,
	[tamaño] [varchar](20) NULL,
	[ubicación] [varchar](100) NULL,
	[tipo_suelo] [varchar](50) NULL,
	[zona_sombra] [varchar](20) NULL,
	[precio_noche] [decimal](10, 2) NULL,
	[disponibilidad] [varchar](3) NULL,
	[Id_alojamiento] [varchar](1) NOT NULL,
	[Id_alojamiento1] [varchar](20) NOT NULL,
 CONSTRAINT [Parcela_PKv2] PRIMARY KEY CLUSTERED 
(
	[Id_alojamiento1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Parcela_PK] UNIQUE NONCLUSTERED 
(
	[Id_parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Parcela_PKv1] UNIQUE NONCLUSTERED 
(
	[Id_alojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
 CONSTRAINT [Proveedor_PK] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puede_incluir]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puede_incluir](
	[Reserva_Id_reserva] [varchar](20) NOT NULL,
	[Servicio_Id_servicio] [varchar](20) NOT NULL,
 CONSTRAINT [puede_incluir_PK] PRIMARY KEY CLUSTERED 
(
	[Reserva_Id_reserva] ASC,
	[Servicio_Id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[realizav4]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[realizav4](
	[Cliente_Id_cliente] [varchar](20) NOT NULL,
	[Actividad_Id_actividad] [varchar](20) NOT NULL,
 CONSTRAINT [Relation_9_PK] PRIMARY KEY CLUSTERED 
(
	[Cliente_Id_cliente] ASC,
	[Actividad_Id_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id_reserva] [varchar](20) NOT NULL,
	[fecha_entrada] [date] NULL,
	[fecha_salida] [date] NULL,
	[personas] [int] NULL,
	[estado] [varchar](20) NULL,
	[Cliente_Id_cliente] [varchar](20) NULL,
	[empleado_id_empleado] [varchar](15) NOT NULL,
	[Alojamiento_Id_alojamiento] [varchar](20) NOT NULL,
 CONSTRAINT [Reserva_PK] PRIMARY KEY CLUSTERED 
(
	[Id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva_servicio]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva_servicio](
	[id_reserva_servicio] [varchar](10) NOT NULL,
	[cantidad] [varchar](10) NULL,
	[fecha_inicio_servicio] [date] NULL,
	[fecha_fin_servicio] [date] NULL,
	[Reserva_Id_reserva] [varchar](20) NOT NULL,
	[Servicio_Id_servicio] [varchar](20) NOT NULL,
 CONSTRAINT [Reserva_servicio_PK] PRIMARY KEY CLUSTERED 
(
	[id_reserva_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[Id_servicio] [varchar](20) NOT NULL,
	[nombre] [varchar](30) NULL,
	[descripcion] [varchar](200) NULL,
	[precio] [decimal](10, 2) NULL,
	[tipo] [varchar](50) NULL,
	[disponibilidad] [varchar](3) NULL,
 CONSTRAINT [Servicio_PK] PRIMARY KEY CLUSTERED 
(
	[Id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[id_vehiculo] [varchar](50) NULL,
	[matricula] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[cliente_Id_cliente] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Alojamientov1__IDX]    Script Date: 27/11/2025 0:11:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Alojamientov1__IDX] ON [dbo].[Alojamiento]
(
	[Alojamiento_Id_alojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Alojamientov1__IDXv1]    Script Date: 27/11/2025 0:11:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Alojamientov1__IDXv1] ON [dbo].[Alojamiento]
(
	[Bungalow_id_cabaña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Alojamientov1__IDXv2]    Script Date: 27/11/2025 0:11:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Alojamientov1__IDXv2] ON [dbo].[Alojamiento]
(
	[Parcela_Id_parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alojamiento]  WITH CHECK ADD  CONSTRAINT [Alojamiento_Alojamiento_FK] FOREIGN KEY([Alojamiento_Id_alojamiento])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Alojamiento] CHECK CONSTRAINT [Alojamiento_Alojamiento_FK]
GO
ALTER TABLE [dbo].[Alojamiento]  WITH CHECK ADD  CONSTRAINT [Alojamiento_Bungalow_FK] FOREIGN KEY([Bungalow_id_cabaña])
REFERENCES [dbo].[Bungalow] ([id_cabaña])
GO
ALTER TABLE [dbo].[Alojamiento] CHECK CONSTRAINT [Alojamiento_Bungalow_FK]
GO
ALTER TABLE [dbo].[Alojamiento]  WITH CHECK ADD  CONSTRAINT [Alojamiento_Parcela_FK] FOREIGN KEY([Parcela_Id_parcela])
REFERENCES [dbo].[Parcela] ([Id_parcela])
GO
ALTER TABLE [dbo].[Alojamiento] CHECK CONSTRAINT [Alojamiento_Parcela_FK]
GO
ALTER TABLE [dbo].[Bungalow]  WITH CHECK ADD  CONSTRAINT [Bungalow_Alojamientov1_FK] FOREIGN KEY([Id_alojamiento1])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Bungalow] CHECK CONSTRAINT [Bungalow_Alojamientov1_FK]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [Compra_empleado_FK] FOREIGN KEY([empleado_id_empleado])
REFERENCES [dbo].[empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [Compra_empleado_FK]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [Compra_Proveedor_FK] FOREIGN KEY([Proveedor_id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [Compra_Proveedor_FK]
GO
ALTER TABLE [dbo].[coordina]  WITH CHECK ADD  CONSTRAINT [Relation_13_Actividad_FK] FOREIGN KEY([Actividad_Id_actividad])
REFERENCES [dbo].[Actividad] ([Id_actividad])
GO
ALTER TABLE [dbo].[coordina] CHECK CONSTRAINT [Relation_13_Actividad_FK]
GO
ALTER TABLE [dbo].[coordina]  WITH CHECK ADD  CONSTRAINT [Relation_13_empleado_FK] FOREIGN KEY([empleado_id_empleado])
REFERENCES [dbo].[empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[coordina] CHECK CONSTRAINT [Relation_13_empleado_FK]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [Factura_Cliente_FK] FOREIGN KEY([Cliente_Id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [Factura_Cliente_FK]
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD  CONSTRAINT [Mantenimiento_Alojamiento_FK] FOREIGN KEY([Alojamiento_Id_alojamiento])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Mantenimiento] CHECK CONSTRAINT [Mantenimiento_Alojamiento_FK]
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD  CONSTRAINT [Mantenimiento_empleado_FK] FOREIGN KEY([empleado_id_empleado])
REFERENCES [dbo].[empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Mantenimiento] CHECK CONSTRAINT [Mantenimiento_empleado_FK]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [Parcela_Alojamientov1_FK] FOREIGN KEY([Id_alojamiento1])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [Parcela_Alojamientov1_FK]
GO
ALTER TABLE [dbo].[puede_incluir]  WITH CHECK ADD  CONSTRAINT [puede_incluir_Reserva_FK] FOREIGN KEY([Reserva_Id_reserva])
REFERENCES [dbo].[Reserva] ([Id_reserva])
GO
ALTER TABLE [dbo].[puede_incluir] CHECK CONSTRAINT [puede_incluir_Reserva_FK]
GO
ALTER TABLE [dbo].[puede_incluir]  WITH CHECK ADD  CONSTRAINT [puede_incluir_Servicio_FK] FOREIGN KEY([Servicio_Id_servicio])
REFERENCES [dbo].[Servicio] ([Id_servicio])
GO
ALTER TABLE [dbo].[puede_incluir] CHECK CONSTRAINT [puede_incluir_Servicio_FK]
GO
ALTER TABLE [dbo].[realizav4]  WITH CHECK ADD  CONSTRAINT [Relation_9_Actividad_FK] FOREIGN KEY([Actividad_Id_actividad])
REFERENCES [dbo].[Actividad] ([Id_actividad])
GO
ALTER TABLE [dbo].[realizav4] CHECK CONSTRAINT [Relation_9_Actividad_FK]
GO
ALTER TABLE [dbo].[realizav4]  WITH CHECK ADD  CONSTRAINT [Relation_9_Cliente_FK] FOREIGN KEY([Cliente_Id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[realizav4] CHECK CONSTRAINT [Relation_9_Cliente_FK]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [Reserva_Alojamiento_FK] FOREIGN KEY([Alojamiento_Id_alojamiento])
REFERENCES [dbo].[Alojamiento] ([Id_alojamiento])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [Reserva_Alojamiento_FK]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [Reserva_Cliente_FK] FOREIGN KEY([Cliente_Id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [Reserva_Cliente_FK]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [Reserva_empleado_FK] FOREIGN KEY([empleado_id_empleado])
REFERENCES [dbo].[empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [Reserva_empleado_FK]
GO
ALTER TABLE [dbo].[Reserva_servicio]  WITH CHECK ADD  CONSTRAINT [Reserva_servicio_Reserva_FK] FOREIGN KEY([Reserva_Id_reserva])
REFERENCES [dbo].[Reserva] ([Id_reserva])
GO
ALTER TABLE [dbo].[Reserva_servicio] CHECK CONSTRAINT [Reserva_servicio_Reserva_FK]
GO
ALTER TABLE [dbo].[Reserva_servicio]  WITH CHECK ADD  CONSTRAINT [Reserva_servicio_Servicio_FK] FOREIGN KEY([Servicio_Id_servicio])
REFERENCES [dbo].[Servicio] ([Id_servicio])
GO
ALTER TABLE [dbo].[Reserva_servicio] CHECK CONSTRAINT [Reserva_servicio_Servicio_FK]
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Usuarios_Empleados]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Actualizar_Usuarios_Empleados]
AS
BEGIN
-- Declaramos  variables para los nombres, apellidos y user name

DECLARE @nombre NVARCHAR(50)
DECLARE @apellido NVARCHAR (80)
DECLARE @user_name NVARCHAR (80)

--ahora declaramos la variable del cursor

DECLARE empleado_cursor CURSOR FOR

SELECT nombre, apellidos FROM empleado

--Ahora abrimos el cursor
OPEN empleado_cursor

-- se situa en la primera posición para que comience a leer
FETCH NEXT FROM empleado_cursor INTO @nombre, @apellido

--se inicia el bucle, que saldrá cuando no queden más registros

WHILE @@FETCH_STATUS =  0
BEGIN

---creamos el usuario con la primera letra del nombre y apellido

SET @user_name = LEFT(@nombre, 1) + @apellido
	 CREATE USER [@user_name]  WITHOUT LOGIN;
	        ALTER ROLE R_Empleado ADD MEMBER [@user_name];
-- se pasa al registro siguiente

	FETCH NEXT FROM empleado_cursor INTO @nombre, @apellido
	END

-- cerramos el cursor y liberamos memoria
	CLOSE empleado_cursor
	DEALLOCATE empleado_cursor
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarNuevoEmpleado]    Script Date: 27/11/2025 0:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarNuevoEmpleado]
    @id_empleado varchar(15),
    @nombre varchar(20),
    @apellidos varchar(20),
    @puesto varchar(50),
    @telefono varchar(15)
AS
BEGIN
    -- Insertar un nuevo registro en la tabla empleado
    INSERT INTO dbo.empleado (id_empleado, nombre, apellidos, puesto, telefono)
    VALUES (@id_empleado, @nombre, @apellidos, @puesto, @telefono);
END;
GO
USE [master]
GO
